<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <script type="text/javascript" th:src="@{/public/jquery/jquery-1.9.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/swiper/js/swiper.js}"></script>
    <link rel="stylesheet" th:href="@{/public/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/public/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/public/swiper/css/swiper.min.css} "/>
    <script type="text/javascript" th:src="@{/public/js/indexdata.js}"></script>
    <script th:inline="javascript">
        $(function () {
            var id = [[${#httpServletRequest.getParameter('id')}]];
            $.ajax({
                url: "/resous/articleDetail/" + id,
                type: "get",
                data: {},
                success: function (data) {
                    var html = "<div class=\"layui-card-body detail-box\">\n" +
                        "<h1>" + data.title + "</h1>\n" +
                        "<div class=\"ydl-detail-info\">\n" +
                        "<span class=\"layui-badge \" style=\"vertical-align: super;\">" + data.resouceCatalog.name + "</span>\n" +
                        "<span class=\"ydl-yidong\"><i class=\"layui-icon\">&#xe705;</i><span class=\"num\"> " + data.clickCount + "</span></span>\n" +
                        "<span class=\"ydl-yidong ydl-right\"><i class=\"layui-icon layui-icon-log\"></i> " + data.addTime + "</span>\n" +
                        "</div>\n" +
                        "<div class=\"detail-about_tips\">\n" + data.description +
                        "</div>\n" +
                        "<div class=\"detail-body\">\n" +
                        "<p>" + data.summary + "</p>\n" +
                        "</div>\n" +
                        "</div>";
                    $("#bodymain").html(html);
                }
            })

        });
    </script>
</head>
<body>
<div class="layui-bg-blue header" th:replace="common/common.html :: topIndex(activeUri='index.html')">

</div>
<div class="layui-container ">
    <div class="layui-row jianju">
        <span class="layui-breadcrumb">
          <a href="">首页</a>
          <a><cite>文章</cite></a>
        </span>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 ">
            <div class="layui-card">
                <div class="layui-card-body detail-box" th:id="bodymain">
                    <h1>2018整合C#面试题</h1>
                    <div class="ydl-detail-info">
                        <span class="layui-badge " style="vertical-align: super;">c#</span>
                        <span class="ydl-yidong"><i class="layui-icon">&#xe705;</i><span class="num"> 66</span></span>
                        <span class="ydl-yidong ydl-right"><i class="layui-icon layui-icon-log"></i> 2018-09-26</span>
                    </div>
                    <div class="detail-about_tips">
                        C#是微软公司发布的一种面向对象的、运行于.NET Framework之上的高级程序设计语言。并定于在微软职业开发者论坛(PDC)上登台亮相。C#是微软公司研究员Anders
                        Hejlsberg的最新成果。C#看起来与Java有着惊人的相似;它包括了诸如单一继承、接口、与Java几乎同样的语法和编译成中间代码再运行的过程。
                    </div>
                    <div class="detail-body">
                        <p>1.简述 private、 protected、 public、internal 修饰符的访问权限</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card layui-hide-xs">
                <div class="layui-card-body">
                    <form action="/search" method="get">
                        <div class="layui-inline">
                            <input class="layui-input" name="keyword" autocomplete="off" placeholder="关键词"
                                   lay-verify="required" required="">
                        </div>
                        <button class="layui-btn" type="submit">搜索</button>
                    </form>
                </div>
            </div>
            <div class="layui-card layui-hide-xs">
                <div class="layui-card-header">
                    热门标签
                </div>
                <div class="layui-card-body tags" id="fenyeleibie">
                    <!-- <a class="animated3" href="#" title="springboot" style="background-color: #7b91fc;">springboot</a>
                     <a class="animated3" href="#" title="YARN" style="background-color: #fb7dff;">YARN</a>
                     <a class="animated3" href="#" title="HDFS" style="background-color: #ff7575;">HDFS</a>
                     <a class="animated3" href="#" title="Spark" style="background-color: #ff088c;">Spark</a>
                     <a class="animated3" href="#" title="java" style="background-color: #dd00ff;">java</a>
                     <a class="animated3" href="#" title="springcloud" style="background-color: #544671;">springcloud</a>
                     <a class="animated3" href="#" title="nginx" style="background-color: #c856eb;">nginx</a>
                     <a class="animated3" href="#" title="MapReduce" style="background-color: #ff06a4;">MapReduce</a>
                     <a class="animated3" href="#" title="Spring" style="background-color: #00cf6e;">Spring</a>
                     <a class="animated3" href="#" title="AliyunOSS" style="background-color: #ffb404;">AliyunOSS</a>
                     <a class="animated3" href="#" title="Hadoop" style="background-color: #a01f64;">Hadoop</a>-->
                </div>
            </div>

            <div class="layui-card layui-hide-xs">
                <div class="layui-card-header ms-top">
                    <ul class="hd" id="tab" th:replace="index :: paihang">
                        <li class="active"><a href="javascript:">点击排行</a></li>
                        <li><a href="javascript:">最新文章</a></li>
                        <li><a href="javascript:">站长推荐</a></li>
                    </ul>
                </div>
                <div class="layui-card-body">
                    <ul class="news-list">
                        <!--推荐--->
                    </ul>
                </div>
            </div>

            <div class="layui-card layui-hide-xs">
                <div class="layui-card-header ">
                    推荐视频
                </div>
                <div class="layui-card-body">
                    <ul class="voide-list" th:replace="index :: tuijianVideo">

                    </ul>
                </div>

            </div>

            <div class="layui-card layui-hide-xs">
                <div class="layui-card-header">
                    友情链接
                </div>
                <div class="layui-card-body" th:replace="index :: youqing">
                    <a href="#" target="_blank">博客</a>
                    <a href="#" target="_blank">博客</a>
                    <a href="#" target="_blank">博客</a>
                    <a href="#" target="_blank">博客</a>
                    <a href="#" target="_blank">博客</a>
                    <a href="#" target="_blank">博客</a>
                    <a href="#" target="_blank">博客</a>
                    <a href="#" target="_blank">博客</a>
                    <a href="#" target="_blank">博客</a>
                    <a href="#" target="_blank">博客</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-r">
    <p>
        © 2018-2022 xxxx 版权所有，保留所有权利。<br>版权声明：部分文章摘自互联网，如有侵权，麻烦告知删除，谢谢。
    </p>
</div>
<script type="text/javascript" th:src="@{/public/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{/public/js/index.js}"></script>
</body>
</html>